body {
    color: #E7E247;
    background-color:#248232;
    background-image: url('https://i.pinimg.com/originals/86/74/c0/8674c01b6a1dc3f9cdd787de586fcc88.jpg');
    background-color: black;
}
main {
    margin: 50px;
    background-color: #465C69;
    filter: brightness(70%);
    opacity: 0.9;
    min-height: 300px;
    width: 800px;
    margin-left: 25%;
    border-radius: 1%;
    display: flex;
    flex-wrap: wrap;
}
main, .eventList {
    border: 1px ridge #A4BAB7;
}
.container {
    width: 500px;
}
button, input, .eventList, li {
    background-color: #51291E;
    color: #E7E247;
    border-radius: 1%;
}
input {
    margin-top: 20px;
    margin-left: 20px;
}
.submit {
    margin-left: 100px;
    margin-top: 20px;
    position: absolute;
}
li {
    list-style: none;
    margin: 20px;
}
.eventList {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 750px;
    display: flex;
    gap: 50px;
}
.remove {
    float: right;
    height: 20px;
    margin: 20px;
    margin-left: 70px;
}
