body {
    color: #E7E247;
    background-color:#248232;
    background-image: url('https://i.pinimg.com/originals/86/74/c0/8674c01b6a1dc3f9cdd787de586fcc88.jpg');
    background-size: cover;
    background-color: black;
}
main, .eventList {
    margin-left: auto;
    margin-right: auto;
}
main {
    margin-top: 2%;
    background-color: #465C69;
    opacity: 0.9;
    width: 90%;
}
main, .eventList {
    border: 1px ridge #A4BAB7;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.eventName {
    width: 35%;
}
.eventDate {
    width: 25%;
}
.eventTime {
    width: 15%;
}
input, .eventList, .remove  {
    background-color: #51291E;
    color: #E7E247;
}
.eventList div, input {
    font-size: 3em;
}
input, .submit {
    min-height: 60px;
    max-height: 120px;
    height: 10vh;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
}
.eventList {
    width: 97%;
    margin-bottom: 1%;
}
.eventList div {
    display: list-item;
}
.eventList div > * {
    margin-left: 5%;
}
.remove {
    width: auto;
    height: auto;
    font-size: 1.5em;
    float: right;
    margin-top: -15%;
    margin-right: 1%;
}
.submit {
    width: 10%;
    font-size: 3em;
}

